@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-primary: #f4f5fb;
  --background-secondary: #ffffff;

  /* Colors */
  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;
  /* Content */
  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --always-white: #ffffff;
  /* Border */
  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;
  --font-family-base: "Inter", sans-serif;

  /* Title */
  --font-title-size: 28px;
  --font-title-line-height: 32px;
  --font-title-weight: 700; /* Bold */

  /* Label */
  --font-label-size: 16px;
  --font-label-line-height: 20px;
  --font-label-weight: 600; /* Semibold */

  /* Paragraph */
  --font-paragraph-size: 16px;
  --font-paragraph-line-height: 20px;
  --font-paragraph-weight: 500; /* Medium */

  /* Link */
  --font-link-size: 14px;
  --font-link-line-height: 16px;
  --font-link-weight: 500; /* Medium */
}
body {
  background-color: var(--background-primary);
  font-family: var(--font-family-base);
}
.itens-menu {
  display: flex;
  justify-content: center;
  padding: 24px 0px 64px;
  align-items: center;
  gap: 6px;
  span {
    font-size: var(--font-title-size);
    font-weight: var(--font-title-weight);
    line-height: var(--font-title-line-height);
    color: var(--content-secondary);
  }
}
.voltar {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  padding-bottom: 16px;
  a {
    font-size: var(--font-link-size);
    font-weight: var(--font-link-weight);
    line-height: var(--font-link-line-height);
    color: var(--color-brand);
    text-decoration: none;
  }
}

.compras {
  h1 {
    font-size: var(--font-title-size);
    font-weight: var(--font-title-weight);
    line-height: var(--font-title-line-height);
    color: var(--content-primary);
    padding-bottom: 32px;
  }
}
.formulario {
  ul.lista {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0px;
  }
  ul.lista > li {
    position: relative;
    background-color: var(--background-secondary);
    list-style: none;
    padding: 10px 12px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--content-secondary);
    font-weight: var(--font-paragraph-weight);
    img {
      justify-content: end;
      position: absolute;
      right: 22px;
      cursor: pointer;
    }
  }
}

.error,
.sucesso {
  background-color: var(--color-danger);
  border-radius: 15px;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  p {
    margin: 0;
    color: var(--always-white);
    font-weight: var(--font-paragraph-weight);
    line-height: var(--font-paragraph-line-height);
  }
  #fechar {
    position: absolute;
    right: 30px;
    cursor: pointer;
  }
}
.sucesso {
  background-color: #239c50;
  margin-top: 16px;
}
